body{
    background-color: #58A399;
    display: flex;
    flex-direction: column;
    gap: 2em;
}
nav{
    display: flex;
    justify-content: space-between;
}
#back{
    font-size: 20px;
    font-weight: bold;
    background-color: #58A399;
    border: none;
    width: 10%;
}
#back a{
    text-decoration: none;
    color: black;
}
#save{
    font-size: 20px;
    font-weight: bold;
    color: black;
    background-color: #58A399;
    border: none;
    width: 10%;
}
.person{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #31363F;
    height: 35vh;
}
.bi{
    color: black;
}
.bi-person{
    color: white;
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}
.form-row{
    display: flex;
    justify-content: center;
    gap: 2em;
}
.form-control-file{
    color: white;
}
.form-group{
    display: flex;
    gap: 1em;
    width: 45%;
}
.bi-envelope{
    color: white;
}
.form-outline{
    display: flex;
    gap: 1em;
    width: 45%;
}
.bi-telephone-fill{
    color: white;
}